<div class="header"><h1><%= @line.name %></h1></div>

<h3>Line Route:</h3>

<ul>
<% @line.stations.each do |station| %>
  <li><i><span class="name"><%= @line.name %></span></i> goes through the <b><%= link_to station.name, station_path(station) %></b> station.</li>
<% end %>
</ul>

<br><%= link_to "Cancel this Line", line_path(@line), :confirm => "Are you certain?", :method => "delete", :class => "btn btn-danger" %><br><br>
<p><%= link_to "Main Lines Page", lines_path, :class => "btn btn-warning" %></p>
