<h1 class="header">Wall-to-Wall Stations in Here.</h1>

<ul>
  <% @stations.each do |station| %>
    <li><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
  <% end %>
</ul>

<h3>Add new station</h3>
<%= form_for(@station) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => "btn btn-warning") %>
<% end %>
<p><br><%= link_to "Main Stops Page", stops_path, :class => "btn btn-primary" %>
       <%= link_to "Main Lines Page", lines_path, :class => "btn btn-primary" %>
       <%= link_to "Main Buses Page", buses_path, :class => "btn btn-primary" %></p>
