<h1 class="header">STOP, STOP-STOP-STOP.</h1>

<ul>
  <% @stops.each do |stop| %>
    <li><b>Stop ID <span class="name"><%= stop.id %></span></b> [ Station: <i><%= link_to stop.station.name, station_path(stop.station) %></i> | Line: <i><%= link_to stop.line.name, line_path(stop.line) %></i><span class="redstuff">
    [ <%= link_to "X", stop_path(stop), :confirm => "Are you certain?", :method => "delete" %> ]</span>
    </li>
  <% end %>
</ul>

<h3>Add new Stop</h3>
<%= form_for(@stop) do |f| %>
  <div class="form-group">

  </div>
  <div class="form-group">
    <% options = [] %>
    <% Station.all.each {|station| options << [station.name, station.id] } %>
    <%= f.label :station_id %>
    <%= f.select(:station_id, options_for_select(options))%><br/>
    <%= f.label :line_id %>
    <% options = [] %>
    <% Line.all.each {|line| options << [line.name, line.id] } %>
    <%= f.select(:line_id, options_for_select(options))%><br/>
  </div>
  <%= f.submit(:class => "btn btn-warning") %>
<% end %>
<p><br><%= link_to "Main Stations Page", stations_path, :class => "btn btn-primary" %>
       <%= link_to "Main Lines Page", lines_path, :class => "btn btn-primary" %>
       <%= link_to "Main Buses Page", buses_path, :class => "btn btn-primary" %></p>
